.home_html{
    .tabs_bar{
        text-align: center;
        background-color: #fff;
        padding: 10px 0;
    }
}
.ant-radio-button-wrapper-checked:first-child {
    border-color: @theme_color;
    color: #fff;
    background-color: @theme_color;
    box-shadow: none !important;
}
.ant-radio-button-wrapper-checked:last-child {
    border-color: @theme_color;
    color: #fff;
    background-color: @theme_color;
    box-shadow: none !important;
}